.cart {
    background: rgba(255, 153, 0, 0.3);
    padding: 16px;
    position: sticky;
    top: 0;
}

.cart p {
    font-size: 17px;
}

.cart h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

}